{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="container">
    <div class="text-white text-center" style="margin-top:15%">
        <h1><b style="color: black;">Welcome to The Neighborhood</b></h1>
        <h4 style="color: black;">You can be a good neighbor <br> Only <br> If you have good neighbors</h4> <br>
        <a href="{% url 'hood' %}" class="btn btn-primary"><b style="color: black;">Join a Neighborhood Now</b></a>
    </div>

</div>
<style>
    body{
        background-image: url(https://images.pexels.com/photos/277667/pexels-photo-277667.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}


