{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="container">
    <div class="text-white text-center" style="margin-top:15%">
        <h1><b style="color: black;">Welcome to Neighborhood</b></h1>
        <h5 style="margin-top:6%"><i style="color: black;">Feel free to know your neighbors and the daily activities around your neighborhood by joining Neighborhood-Nyumba Kumi Initiative and government policing</i></h5>
        <a href="#" class="btn btn-primary"><b style="color: brown;">Join Hood</b></a>
    </div>

</div>
{% endblock %}