<nav id="nav" class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container">
      <div class="col-md-4">
        <a  id="icons" class=" navbar-brand" href="#"> Neighbors </a>
      </div>
      <div class="col-md-4">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        </div>
  
      </div>
      <div class="col-md-4">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="item" href="#" style="color: black;"><i class="far fa-user"></i></a>
          <a class="item" href="#" style="margin-left: 20%; font-size: small; color: black;"><i class="fas fa-plus-square">Add New</i></i></a>
        <a class="item" href="/logout" style="margin-left: 20%; font-size: small; color: black;"><i class="fas fa-sign-out-alt">LogOut</i></a>
        
        </div>
  
  
      </div>
  
    </div>
  </nav>
